function Block.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 7
pop this 1
push argument 0
pop this 2
push argument 1
pop this 3
push pointer 0
return
function Block.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Block.update 0
push argument 0
pop pointer 0
push this 2
push argument 1
push argument 2
call Grid.getCell 3
push this 3
push argument 1
push argument 2
call Shape.isMine 3
not
and
not
if-goto LABEL_66
push constant 0
return
goto LABEL_67
label LABEL_66
label LABEL_67
push argument 1
pop this 0
push argument 2
pop this 1
push constant 1
neg
return
function Block.render 1
push argument 0
pop pointer 0
push this 2
push this 0
push this 1
push constant 0
call Grid.setCell 4
pop temp 0
push pointer 0
push argument 1
push argument 2
call Block.update 3
pop local 0
push local 0
not
if-goto LABEL_68
push this 2
push this 0
push this 1
push constant 1
neg
call Grid.setCell 4
pop temp 0
goto LABEL_69
label LABEL_68
label LABEL_69
push local 0
return
function Block.getX 0
push argument 0
pop pointer 0
push this 0
return
function Block.getY 0
push argument 0
pop pointer 0
push this 1
return
function Block.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 1
neg
return
function Block.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
