function Game.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 31
push constant 15
call Grid.new 2
pop this 0
push this 0
call ShapeManager.new 1
pop this 1
push pointer 0
return
function Game.render 0
push argument 0
pop pointer 0
push this 0
call Grid.render 1
pop temp 0
push constant 0
return
function Game.loop 0
push argument 0
pop pointer 0
label LABEL_2
push constant 1
neg
not
if-goto LABEL_3
push this 0
call Grid.render 1
pop temp 0
push this 1
call ShapeManager.render 1
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
goto LABEL_2
label LABEL_3
push constant 0
return
