function Grid.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 0
call Array.new 1
pop this 0
push constant 0
pop local 0
label LABEL_14
push local 0
push this 1
lt
not
if-goto LABEL_15
push local 0
push this 0
add
push this 2
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto LABEL_14
label LABEL_15
push pointer 0
return
function Grid.isSafe 0
push argument 0
pop pointer 0
push argument 1
push this 1
gt
push argument 1
push this 1
eq
or
not
if-goto LABEL_16
push constant 0
return
goto LABEL_17
label LABEL_16
label LABEL_17
push argument 2
push this 2
gt
push argument 2
push this 2
eq
or
not
if-goto LABEL_18
push constant 0
return
goto LABEL_19
label LABEL_18
label LABEL_19
push constant 1
neg
return
function Grid.setCell 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Grid.isSafe 3
not
not
if-goto LABEL_20
push constant 0
return
goto LABEL_21
label LABEL_20
label LABEL_21
push this 0
push argument 1
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Grid.getCell 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Grid.isSafe 3
not
not
if-goto LABEL_22
push constant 1
return
goto LABEL_23
label LABEL_22
label LABEL_23
push this 0
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push argument 2
add
pop pointer 1
push that 0
return
function Grid.drawBlock 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 16
call Math.multiply 2
push argument 1
push constant 16
call Math.multiply 2
push argument 0
push constant 1
add
push constant 16
call Math.multiply 2
push argument 1
push constant 1
add
push constant 16
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Grid.render 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label LABEL_24
push local 0
push this 1
lt
not
if-goto LABEL_25
push constant 0
pop local 1
label LABEL_26
push local 1
push this 2
lt
not
if-goto LABEL_27
push this 0
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push local 1
push local 2
push local 1
add
pop pointer 1
push that 0
call Grid.drawBlock 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto LABEL_26
label LABEL_27
push local 0
push constant 1
add
pop local 0
goto LABEL_24
label LABEL_25
push constant 0
return
function Grid.getWidth 0
push argument 0
pop pointer 0
push this 1
return
function Grid.getHeight 0
push argument 0
pop pointer 0
push this 2
return
