function Grid.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 0
call Array.new 1
pop this 0
push constant 0
pop local 0
label LABEL_22
push local 0
push this 1
lt
not
if-goto LABEL_23
push local 0
push this 0
add
push this 2
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto LABEL_22
label LABEL_23
push pointer 0
return
function Grid.isSafe 0
push argument 0
pop pointer 0
push argument 1
push this 1
gt
push argument 1
push this 1
eq
or
not
if-goto LABEL_24
push constant 0
return
goto LABEL_25
label LABEL_24
label LABEL_25
push argument 2
push this 2
gt
push argument 2
push this 2
eq
or
not
if-goto LABEL_26
push constant 0
return
goto LABEL_27
label LABEL_26
label LABEL_27
push constant 1
neg
return
function Grid.setCell 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Grid.isSafe 3
not
not
if-goto LABEL_28
push constant 0
return
goto LABEL_29
label LABEL_28
label LABEL_29
push this 0
push argument 1
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Grid.getCell 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Grid.isSafe 3
not
not
if-goto LABEL_30
push constant 1
return
goto LABEL_31
label LABEL_30
label LABEL_31
push this 0
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push argument 2
add
pop pointer 1
push that 0
return
function Grid.drawBlock 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 16
call Math.multiply 2
push argument 1
push constant 16
call Math.multiply 2
push argument 0
push constant 1
add
push constant 16
call Math.multiply 2
push argument 1
push constant 1
add
push constant 16
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Grid.move 3
push argument 0
pop pointer 0
push argument 1
pop local 0
label LABEL_32
push local 0
push constant 0
gt
not
if-goto LABEL_33
push constant 0
pop local 1
label LABEL_34
push local 1
push this 2
lt
not
if-goto LABEL_35
push local 0
push argument 1
eq
not
if-goto LABEL_36
push pointer 0
push local 0
push local 1
push constant 0
call Grid.setCell 4
pop temp 0
goto LABEL_37
label LABEL_36
push pointer 0
push local 0
push local 1
call Grid.getCell 3
not
if-goto LABEL_38
push pointer 0
push local 0
push local 1
push constant 0
call Grid.setCell 4
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
push constant 1
neg
call Grid.setCell 4
pop temp 0
goto LABEL_39
label LABEL_38
label LABEL_39
label LABEL_37
push local 1
push constant 1
add
pop local 1
goto LABEL_34
label LABEL_35
push local 0
push constant 1
sub
pop local 0
goto LABEL_32
label LABEL_33
push constant 0
return
function Grid.checkEnd 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label LABEL_40
push local 0
push this 2
lt
not
if-goto LABEL_41
push pointer 0
push constant 1
push local 0
call Grid.getCell 3
not
if-goto LABEL_42
push constant 0
return
goto LABEL_43
label LABEL_42
label LABEL_43
push local 0
push constant 1
add
pop local 0
goto LABEL_40
label LABEL_41
push constant 1
neg
return
function Grid.update 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label LABEL_44
push local 0
push this 1
lt
not
if-goto LABEL_45
push constant 0
pop local 1
label LABEL_46
push local 1
push this 2
lt
push pointer 0
push local 0
push local 1
call Grid.getCell 3
push constant 0
eq
not
and
not
if-goto LABEL_47
push local 1
push constant 1
add
pop local 1
goto LABEL_46
label LABEL_47
push local 1
push this 2
push constant 1
sub
gt
not
if-goto LABEL_48
push pointer 0
push local 0
call Grid.move 2
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto LABEL_49
label LABEL_48
label LABEL_49
push local 0
push constant 1
add
pop local 0
goto LABEL_44
label LABEL_45
push pointer 0
call Grid.checkEnd 1
return
function Grid.render 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label LABEL_50
push local 0
push this 1
lt
not
if-goto LABEL_51
push constant 0
pop local 1
label LABEL_52
push local 1
push this 2
lt
not
if-goto LABEL_53
push this 0
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push local 1
push local 2
push local 1
add
pop pointer 1
push that 0
call Grid.drawBlock 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto LABEL_52
label LABEL_53
push local 0
push constant 1
add
pop local 0
goto LABEL_50
label LABEL_51
push constant 0
return
function Grid.getWidth 0
push argument 0
pop pointer 0
push this 1
return
function Grid.getHeight 0
push argument 0
pop pointer 0
push this 2
return
