function Main.main 1
push constant 20
pop local 0
push local 0
push local 0
call Math.multiply 2
call Output.printInt 1
pop temp 0
push local 0
push local 0
call Math.divide 2
call Output.printInt 1
pop temp 0
push local 0
call Math.sqrt 1
call Output.printInt 1
pop temp 0
push constant 0
return
